In [1]:
'''
将两个series对象作为字典的值，就可以创建一个DataFrame对象
'''

'\n将两个series对象作为字典的值，就可以创建一个DataFrame对象\n'

In [25]:
import pandas as pd
import numpy as np

In [3]:
popul_dict = {'beijing':3000,'shanghai':1200,'guangzhou':1800}
area_dict = {'beijing':300,'guangzhou':200,'shanghai':180}

In [6]:
popul_Series = pd.Series(popul_dict)
popul_Series

beijing      3000
shanghai     1200
guangzhou    1800
dtype: int64

In [7]:
area_Series = pd.Series(area_dict)
area_Series

beijing      300
guangzhou    200
shanghai     180
dtype: int64

In [8]:
citys = pd.DataFrame({'area':area_Series,'popul':popul_Series})
citys

           area  popul
beijing     300   3000
guangzhou   200   1800
shanghai    180   1200

In [11]:
#查看DataFrame中的values，index，columns
type(citys.values),citys.values.shape,citys.values

(numpy.ndarray,
 (3, 2),
 array([[ 300, 3000],
        [ 200, 1800],
        [ 180, 1200]]))

In [12]:
type(citys.index),citys.index

(pandas.core.indexes.base.Index,
 Index(['beijing', 'guangzhou', 'shanghai'], dtype='object'))

In [13]:
type(citys.columns),citys.columns

(pandas.core.indexes.base.Index, Index(['area', 'popul'], dtype='object'))

In [14]:
city1 = pd.DataFrame([popul_dict,area_dict])
city1

   beijing  shanghai  guangzhou
0     3000      1200       1800
1      300       180        200

In [18]:
#创建DataFrame指定index
city2 = pd.DataFrame([popul_dict,area_dict],index=['popul','area'])
city2

       beijing  shanghai  guangzhou
popul     3000      1200       1800
area       300       180        200

In [19]:
#创建DataFrame指定columns
populs = pd.DataFrame(popul_Series)
populs

              0
beijing    3000
shanghai   1200
guangzhou  1800

In [20]:
populs = pd.DataFrame(popul_Series,columns=['popul'])
populs

           popul
beijing     3000
shanghai    1200
guangzhou   1800

In [24]:
#使用列表创建DataFrame对象
data = pd.DataFrame([{'a':i,'b':i*2} for i in range(3)],index=['1','2','3'])
data

   a  b
1  0  0
2  1  2
3  2  4

In [27]:
#使用二维数组并指定colmuns和index创建DataFrame对象
data = pd.DataFrame(np.random.randint(0,10,(4,3)),index=list('abcd'),columns=list('egf'))
data

   e  g  f
a  1  8  8
b  6  7  7
c  9  6  3
d  5  9  2