In [1]:
#选择某一行或者某一列
#DataFrame对象非常容易获取数据集中指定列的数据。只需要在表df后面的括号中指明要选择的列名即可。
#如果是同时选择多列，则传入多个列名即可，多个列名用一个list存放。

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.DataFrame(np.arange(12).reshape(3,4),index=list('abc'),columns=list('ABCD'))
data

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [12]:
print('获取B列')
data['B'],type(data['B'])

获取B列

(a    1
 b    5
 c    9
 Name: B, dtype: int64,
 pandas.core.series.Series)

In [13]:
print('获取A,C两列')
data[['A','C']],type(data[['A','C']])

获取A,C两列

(   A   C
 a  0   2
 b  4   6
 c  8  10,
 pandas.core.frame.DataFrame)

In [14]:
#获取列还可以传入具体列的位置，通过传入位置来获取数据时需要用到的iloc方法

In [17]:
print('获取第一列:')
print(data.iloc[:,0])

获取第一列:
a    0
b    4
c    8
Name: A, dtype: int64

In [18]:
print('获取第三列:')
print(data.iloc[:,2])

获取第一列:
a     2
b     6
c    10
Name: C, dtype: int64

In [19]:
print('获取第AC两列:')
print(data.iloc[:,[0,2]])

获取第AC两列:
   A   C
a  0   2
b  4   6
c  8  10

In [24]:
print('获取第一二两列:')
print(data.iloc[:,0:2])

获取第一二两列:
   A  B
a  0  1
b  4  5
c  8  9

In [25]:
#iloc后的括号中的逗号之前的部分表示要获取的行的位置。只输入一个冒号，不输入任何数值表示获取所有的行，
#逗号之后的方括号表示要获取的列的位置，列的位置同样也是从0开始计数。

In [26]:
#选择某一行是用loc方法其中也是有索引和位置索引

In [29]:
#行和列同时取
print('普通索引')
data.loc['a':'b','A':'B']

普通索引

   A  B
a  0  1
b  4  5

In [31]:
#获取部分列
print('位置索引')
data.iloc[0:2,0:2]

位置索引

   A  B
a  0  1
b  4  5

In [33]:
#同时选择不连续的部分行和部分列
data.loc[['a','c'],['A','C']]

   A   C
a  0   2
c  8  10

In [36]:
data.iloc[[1,2],[1,2]]

   B   C
b  5   6
c  9  10